/* ProfileCard.module.css */
.block {
    width: 100%;
    height: inherit;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    transition: all .3s cubic-bezier(0,0,.5,1);
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 0.25rem 1rem rgb(0 0 0 / .2);
    padding: 0rem 1.5rem;
    padding-top: 15px;
}

.profile-card-top{
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.block:hover{
    box-shadow: 0 0.25rem 1rem rgb(0 0 0 / .4);
}
.icon, .name, .description {
    width: 100%; /* Adjust as needed */
}

.icon {
    display: block;
    margin: auto;
    max-height: 8rem;
    background-color: white;
    padding: 10px;
    aspect-ratio: 1/1;
    object-fit: contain;
    border-radius: 200px;
    width: auto;

}

.name {
    font-size: 20px;
    font-family: "larken", sans-serif;
    line-height: 1.14286;
    font-weight: 600;
    text-align: center;
}

.role {
    font-size: 14px;
    font-family: "larken", sans-serif;
    line-height: 1.14286;
    font-weight: 600;
    text-align: center;
    color: #3A4856;
}

.description {
    padding: 20px;
    font-weight: 400;
    color: black;
    font-size: 18px;
    letter-spacing: -0.022em;
    text-align: center;
}

