

/* Nav Bar */
/* Left aligned Logo */
.Logo {
    display: flex;
    float: left;
    color: black;
    font-size: 24px;
    position: relative;

    align-items: center;
    height: 100%;
    padding-left: 13rem;
}
.NavBar {
    position: fixed;
    width: 100%;
    background-color: white;
    border-bottom: 1px #6e6e73 solid;
    z-index: 200;
    height: 50px;

}
.NavBar ul {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* Right aligned links */
.links{
    float: right;
    padding-right: 13rem;


}

.cta-button {
    background-color: #3A4856;
    color: white;
    display: block;
    font-weight: 600;
    text-decoration: none;
    font-size: 15px;
    letter-spacing: 2px;
    padding: 3px 2rem;
    position: relative;
    border-radius: 20px;
    border: 2px #3A4856 solid;
    transition: background-color 0.3s, color 0.3s;
    text-align: center;
}
.cta-button:hover {
    background-color: white;
    color: #3A4856;
    font-weight: 600;
    cursor: pointer;
}

.back-button {
    background-color: #3A4856;
    color: white;

    font-weight: 600;
    text-decoration: none;
    font-size: 15px;
    letter-spacing: 2px;
    margin: 2rem;
    padding: 3px 2rem;

    position: relative;
    border-radius: 20px;
    border: 2px #3A4856 solid;
    transition: background-color 0.3s, color 0.3s;
    text-align: center;
}
.back-button:hover {
    background-color: white;
    color: #3A4856;
    font-weight: 600;
    cursor: pointer;
}


.margin-top{
    margin-top: 1.5rem;
}

.nav-buttons{
    display: block;
    text-decoration: none;
    color: black;
    font-size: 15px;
    letter-spacing: 2px;
    padding: 0rem 2rem;
    position: relative;
}
.nav-buttons:hover {
    color: #9EADBD;
}
.hide{
    display: none;
}

@media (max-width: 1400px){
    .NavBar .Logo {
        padding-left: 1.5rem;
        transition: 2s;
    }
    .NavBar .links{
        padding-right: 1.5rem;
    }


}

@media (max-width: 1050px){
    .NavBar .Logo {
        padding-left: 1.5rem;
        transition: 2s;
    }
    .NavBar .links{
        display: none;
        padding-right: 0rem;
    }
    .NavBar ul{
        justify-content: right;
        padding-right: 1.5rem;
    }
    .NavBar .menu-button{
        display: contents;
        float: right;
    }
}


.menu-button{
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-family: SF Pro Display,SF Pro Icons,AOS Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    letter-spacing: 2px;
    position: absolute;
    right: 0;
    display: none;
}

.dropdown-menu{
    display: none;
    background-color: white;
    width: 100vw;
    height: 100vh;

}

.links-dropdown{
    padding: 5rem;
    display: grid;
    background-color: white;
    width: 60vw;
    max-width: 250px;
    box-shadow: -10px 10px 15px rgba(0, 0, 0, 0.2);
    float: right;
    border-radius: 0px 0px 10px 10px;
}




.drop-link{
    font-size: 38px;
    line-height: 1.1428571429;
    font-weight: 500;
    letter-spacing: .007em;
    font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    padding: .6rem 0rem;
    text-align: left;
    display: flex;
}
.drop-link a{
    width: 100%;
}

.drop-link:active {
    color: #96a2b2;
    transform: scale(0.95);
}

.dropdown-menu.show {
    display: contents;
}

/* Responsive */

/* Smaller desktop */
@media (min-width: 1500px) {
    .links-dropdown{
        display: none;
    }
}

@media (max-width: 1500px) {
    .links-dropdown{
        padding: 1.5rem;
    }
    .drop-link{
        font-size: 20px;
        line-height: 1.1428571429;
        font-weight: 500;
        letter-spacing: .007em;
        padding: 0.6rem 0rem;
        text-align: left;

    }

}



