.WinePage{
    background-color: #724345;
    height: 100vh;
    Width: 100vw;
}

.AutoSagePage{
    background-color: #94ad82;
    height: 100vh;
    Width: 100vw;
}

.TurbinePage{
    background-color: #74B3CE;
    height: 100vh;
    Width: 100vw;
}