


.WineArt-title{
    font-family: "larken", sans-serif;
    color: white;
    font-size: 60px;
    line-height: 40px;
    padding-top: 20px;
    letter-spacing: 2.2px;
    text-transform: uppercase;
    text-align: center;
}
.WineArt-type{
    font-family: lato,sans-serif;
    color: lightgray;
    font-size: 14px;
    line-height: 32px;
    font-weight: 300;
    letter-spacing: 2.2px;
    text-transform: uppercase;
    text-align: center;
}
.Client-feedback-section {
    padding-top: 7rem;
    margin: auto;
    height: 600px;
    position: relative;
    overflow: hidden;
    background-color: #ffffff;
}

.Details-panel-section {
    margin-top: 10rem;
    height: auto;
    position: relative;
    overflow: hidden;
    background-color: #724345;
    padding-bottom: 5rem;
}

.left-title-details{
    font-size: 28px;
    font-family: "Mona Sans","Mona Sans Header Fallback",-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-weight: 600;
    line-height: 1;
    color: white;
    padding: 2rem;
    z-index: 2;
}
.left-title-feedback{
    display: inline;
    font-size: 28px;
    font-family: "Mona Sans","Mona Sans Header Fallback",-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-weight: 600;
    line-height: 1;
    color: rgba(0, 0, 0, 0.96);
    z-index: 2;
}
.second-title-color{
    color: #6e6e73;
}

.tab-panel {
    display: flex;
    background-color: white;
    max-width: 100%;
    height: auto;
    border-radius: 15px;
    box-shadow: 0 0.25rem 1rem rgb(0 0 0 / .4);
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 3rem 0rem;
}
.view-project{
    font-family: lato,sans-serif;
    color: #724345;
    font-size: 14px;
    line-height: 32px;
    font-weight: 600;
    letter-spacing: 2.2px;
    text-transform: uppercase;
    text-align: center;
    height: 50px;
    width: 30%;  /* or any specific width */
    margin: 0 auto;
    align-items: center;
    justify-items: center;
    background-color: white;
    align-self: center;
    border-radius: 20px 20px 20px 20px;
    z-index: 1;
    box-shadow: 0 0.25rem 1rem rgb(0 0 0 / .4);
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    justify-content: center;
}

.view-project:hover{

    font-size: 15px;
}
.tab-panel nav{
    position: relative;
    height: 50px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tab-panel nav::after{
    content: "";
    background: silver;
    width: 100%;
    height: 1px;
    position: absolute;
    top: 47px;
    filter: blur(0.3px);
}
.tab-panel nav label{
    position: relative;
    display: block;
    height: 100%;
    width: 100%;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    font-size: 17px;
    font-weight: 600;
    transition: all 0.3s ease;

}
#tech:checked ~ nav label .overview,
#tech:checked ~ nav label .tech,
#tech:checked ~ nav label .deployment,
#tech:checked ~ nav label .security,
#tech:checked ~ nav label .legal{
    color: #724345;
}
input[type='radio']{
    display: none;
}

.tab-panel nav .slider{
    position: absolute;
    height: 3px;
    background-color: #724345;
    border-radius: 20px;
    width: 20%;
    z-index: 1;
    left: 0;
    bottom: 0;
    transition: all 0.3s ease;
    filter: blur(0.4px);
}
#tech:checked ~ nav .slider{
    left: 20%;
}
#deployment:checked ~ nav .slider{
    left: 40%;
}
#security:checked ~ nav .slider{
    left: 60%;
}
#legal:checked ~ nav .slider{
    left: 80%;
}


#overview:checked ~ nav .overview{
    color: #724345;
}
#tech:checked ~ nav .tech{
    color: #724345;
}
#deployment:checked ~ nav .deployment{
    color: #724345;
}
#security:checked ~ nav .security{
    color: #724345;
}
#legal:checked ~ nav .legal{
    color: #724345;
}

.tab-content{
    width: 80%;
    display: flex;
    align-items: center;
    justify-items: center;
}
.tab-content .content{

    display: none;
    margin-bottom: 20px;
}

.tab-content .content .tab-title{
    font-size: 21px;
    font-weight: 600;
    margin: 30px 0 10px 0;

}

#overview:checked ~ .tab-content .content-1{
    display: block;
}
#tech:checked ~ .tab-content .content-2{
    display: block;
}
#deployment:checked ~ .tab-content .content-3{
    display: block;
}
#security:checked ~ .tab-content .content-4{
    display: block;
}
#legal:checked ~ .tab-content .content-5{
    display: block;
}

/* Responsive */
@media (max-width: 576px) {
    /* Styles for small screens */
    .main-container{
        padding: 0 0rem;
    }
    .tab-panel {
        display: flex;
        flex-direction: row;
        background-color: white;
        max-width: 100%;
        height: auto;
        border-radius: 15px;
        box-shadow: 0 0.25rem 1rem rgb(0 0 0 / .4);
        align-items: center;
        justify-content: center;
        padding: 0;
    }
    .tab-panel nav{
        position: relative;
        height: 100%;
        width: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .tab-panel nav::after{
        display: none;
     }
    .tab-panel nav .slider{
        display: none;
    }
    .tab-panel nav label{
        position: relative;
        display: block;
        height: auto;
        width: 100px;
        text-align: center;
        line-height: 50px;
        cursor: pointer;
        font-size: 10px;
        font-weight: 600;
        transition: all 0.3s ease;

    }


}


@media (min-width: 577px) and (max-width: 768px) {
    /* Styles for medium screens */


}

@media (min-width: 769px) and (max-width: 992px) {
    /* Styles for large screens */


}

@media (min-width: 993px) and (max-width: 1200px) {
    /* Styles for extra-large screens */

}

@media (min-width: 1201px) and (max-width: 1450px) {

}



















/* Other page css */

.AutoSagePage{
    background-color: #94ad82;
    height: 100vh;
    Width: 100vw;
}
.TurbinePage{
    background-color: rgba(2, 17, 27, 0.96);
    height: 100vh;
    Width: 100vw;
}

.WinePage{
    background-color: #724345;
    height: 100%;
    width: 100vw;
}


